* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

ul {
    list-style: nome;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}


/* Header */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
}

header img {
    width: 200px;
}

header nav {
    display: flex;
    list-style: none;
}

header li a {
    color: #191c03;
    margin: 5px;
}

header {
    margin: 0 15px;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

@media(max-width:700px) {
    header {
        flex-direction: column;
    }

    header img {
        margin-bottom: 15px;
    }
}

/* HERO */

.hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    min-height: 100vh;
}