.item {
    margin: 5px;
    padding: 5px;
    background: #447;
    text-align: center;
    font-size: 1em;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #000;
    /* flex-flow: row nowrap; */
    /* justify-content: center; Os elementos são centralizados */
    /* justify-content: space-between; Elementos distribuídos igualmente no container. Distribuídos entre entre o flex-start,flex-center e o flex-end */
    justify-content: space-around;
    
}

.flex {
    display: flex;
}

/* .flex-flow {
    flex-flow: column-reverse;
} */


.flex-direction {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* Propriedades do Flexbox */

/* 
flex-direction
flex-wrap
flex-flow
display:flex 
justify-content:flex-end;
justify-content:flex-start;
justify-content:space-between;
justify-content:space-around;
*/