.item {
    padding: 5px;
    background: #447;
    text-align: center;
    font-size: 1em;
    color: #fff;
    text-align: center;
    width: calc(33.3333% - 20px);
}

.container {
    max-width: 300px;
    height: 400px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    /*Une os componentes*/
}

.flex {
    display: flex;
}



.flex-wrap {
    flex-flow: row wrap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}